pytorch-lightning==1.6.3
torchmetrics==0.8.2
wandb==0.12.16
einops==0.4.1
SoundFile==0.10.3.post1
ipywidgets==7.7.0
PySimpleGUI==4.60.1
sounddevice==0.4.4
librosa==0.9.1
validators==0.19.0
matplotlib==3.5.2